/*头部标题*/
header{
	width: 100%;
	background-color: #333;
}
header .nav{
	float: left;
}
header .nav-item{
	float: left;
	line-height: 40px;
}
header .nav-item a:hover{
	color: #fff;
}
header .shuxian{
	color: #423d39;
	margin-right: 7px;
	margin-left: 7px;
}
header .user-info{
	float: right;
	width: 160px;
}
header .cart{
	float: right;
	width: 120px;
	height: 40px;
	line-height: 40px;
	color: #b0b0b0;
	font-size: 12px;
	background-color: #424242;
	text-align: center;
}
header .cart i{
	font-size: 20px;
	vertical-align: -1px;
	margin-right: 5px;
}
header .cart:hover{
	background-color: #fff;
	color: #ff6700;
}
/*焦点轮播图部分*/
.focus{
	width: 100%;
	height: 744px;
	background-color: #fff;
}
.focus .title{
	height: 100px;
	background-color: #fff;
}
.focus .title .logo a{
	float: left;
	width: 55px;
	height: 55px;
	/*background-color: #000;*/
	background-image: url(../images/LOGO-mi.png);
	margin-top: 22px;
}
.focus .title .logo a:hover{
	background-image: url(../images/LOGO-home.png);
}
.focus .title .focus-lis{
	float: left;
	margin-left: 180px;
	line-height: 100px;
	width: 676px;
	/*background-color: #4880F4;*/
}
.focus .title .focus-lis li{
	float: left;
	margin-right: 20px;
}
.focus .title .focus-lis li:hover{
	color: #ff6700;
}
.focus .title .search{
	float: right;
	width: 315px;
	height: 100px;
}
.focus .title .search input{
	float: right;
	width: 209px;
	height: 50px;
	position: relative;
	bottom: -25px;
	right: -25px;
}
.focus .title .search input:active{
	border-top: 1px solid  #ff6700;
}
.focus .title .search .search_icon{
	float: right;
	height: 50px;
	width: 50px;
	line-height: 50px;
	margin: 25px;
	font-size: 20px;
	text-align: center;
	background-color: #fff;
	border-right: 1px solid #e0e0e0;
	border-bottom: 1px solid #e0e0e0;
	border-top: 1px solid #e0e0e0;
}
.focus .title .search .search_icon:hover{
	background-color: #ff6700;
	border-top: 1px solid  #ff6700;
	color: #fff;
}

.focus .focus-pic{
	height: 460px;
	position: relative;
}
.focus .focus-pic img{
	width: 1226px;
	height: 460px;
	position: absolute;
	top: 0px;
	right: 0px;
}
.focus .focus-pic .focus-lis{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 234px;
	padding-top:20px;
	padding-bottom:20px;
	/*background-color: #9e9b9e;*/
	background: rgba(105,101,101,0.5);
	z-index: 100;
}
.focus .focus-pic i{
	float: right;
	padding-right: 20px;
}
.focus .focus-pic .focus-lis-item{
	color: #fff;
	font-size: 15px;
	line-height: 42px;
	padding-left:30px; 
}
.focus .focus-pic .focus-lis-item:hover{
	background-color: #ff6700;
}
.focus .hot{
	margin-top: 14px;
}
.focus .hot .hot1{
	float: left;
	width: 234px;
	height: 170px;
	background-color: #5f5750;
}
.focus .hot .hot1 .hot1-item{
	width: 78px;
	height: 84px;
	float: left;
	text-align: center;
	position: relative;
	top: 20px;
}
.focus .hot .hot1 a:hover{
	color: #fff;
}
.focus .hot .hot1 .hot1-item:after{
	content: '';
	position: absolute;
	right: 1px;
	top: -11px;
	width: 1px;
	height: 70px;
	background-color: #665e57;
}
.focus .hot .hot1 .hot1-item-henxian:before{
	content: '';
	position: absolute;
	top: 64px;
	right: 8px;
	width: 65px;
	height: 1px;
	background-color: #665e57;
}
.focus .hot .hot1 i{
	font-size: 25px;
}
.focus .hot .hot-product{
	float: left;
	width: 316px;
	height: 170px;
	margin-left: 14px;
}
/*页面主体*/
.main-content{
	width: 100%;
	height: 6009px;
	background-color: pink;
}
/*页面底部*/
footer{
	width: 100%;
	height: 522px;
	background-color: red;
}